body {
    background-color: #EBEBEB;
    padding: 10px;
}

h2 {
    text-align: center;
}

.title {
    text-align: center;
}

.container {
    position: relative;
    font-size: 0;
    width: 800px;
    height: fit-content;
    margin: auto;
}

.content-left {
    position: absolute;
    font-size: 1rem;
    width: 67%;
    display: inline-block;
    margin-top: 75px;
}

.content-right {
    position: absolute;
    font-size: 1rem;
    width: 30%;
    display: inline-block;
    height: min-content;
    vertical-align: top;
    right: 0;
    box-sizing: border-box;
}

.content-right a {
    text-decoration: none;
}

.content-left li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

.card-header {
    text-align: right;
}

.card-header {
    background-color: white;
}

.menu {
    position: absolute;
    font-size: 1rem;
    width: 67%;
}

.navigation {
    background-color: #F68638;
    display: block;
}

.navigation a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.selengkapnya {
    text-decoration: none;
}

@media only screen and (max-width: 768px) and (min-width: 321px) {
    .container {
        width: fit-content;
    }

    .content-left {
        position: unset;
        display: block;
        width: 100%;
        margin-top: 0;        
    }

    .content-right {
        position: unset;
        display: block;
        width: 100%;
        margin: 20px 0 20px 0;
    }

    .menu {
        position: unset;
        width: 100%;
    }
}